html {
  background-color: darkblue;
}

body {
  font-family: verdana,sans-serif;
  font-size: 10px;
  background-color: white;
  height: 900px;
  width: 1200px;
  margin: 0;
  padding: 0;
  position: relative;
}

div.chart {
  width: 1200px;
  height: 425px;
}

div.map {
  width: 1000px;
  height: 472px;
  margin: 0 auto;
  position: relative;
  .bars {
    width: 55px;
    position: absolute;
    div {
      margin-right: 5px;
      width: 10px;
      float: left;
      &[data-year="2011"] {
        background-color: #204988;
        border: 1px solid cornflowerblue;
      }
      &[data-year="2012"] {
        background-color: green;
        border: 1px solid #00aa00;
      }
      &[data-year="2013"] {
        background-color: #D1301D;
        border: 1px solid red;
      }
    }
  }
}

.controls {
  width: 440px;
  height: 30px;
  position: fixed;

  top: 0;
  left: 0;

  input[type='button'], .current, .summer {
    background-color: cornflowerblue;
    border: 2px solid lightblue;
    border-radius: 5px;
    color: lightblue;
    font-weight: bolder;
    height: 24px;
    margin: 4px;
  }
  .current, .summer {
    display: inline-block;
    height: 20px;
    vertical-align: middle;
    line-height: 20px;
    width: 30px;
    text-align: center;
    padding: 0;
    margin: 0;
  }

  .summer {
    width: 95px !important;
  }
}
