html {
  background-color: darkblue;
}

body {
  font-family: verdana,sans-serif;
  font-size: 10px;
  background-color: white;
  height: 900px;
  width: 1200px;
  margin: 0;
  padding: 0;
  position: relative;
}

div.map {

}

div.chart {

}
